<ion-header>
  <ion-navbar>
    <ion-title>
      Chercher un film
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="search_input"
    (ionInput)="onSearchInput()"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list *ngIf="is_search_text">
      <button ion-item detail-push *ngFor="let item of (search_results | async)" (click)="showDetails(item)" [navPush]="detailsPage" [navParams]="{ movie: item }">
        <ion-thumbnail item-start>
            <img src="{{item.img_url}}">
        </ion-thumbnail>
        <b>{{item.title}}</b>
      </button>
  </ion-list>
</ion-content>
